<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="SET_TITLE" value="请扫码输入蓝牙地址" />
        <add key="SET_NAME" value="bt_addr" />
        <add key="SET_TYPE" value="MAC" />
        <add key="SET_SIZE" value="6" />
        <add key="MAC_INPUT_COUNT" value="48" />
        <add key="MAC_INC" value="2" />
    </appSettings>
</configuration>